# Copy this to tests/.env and fill in your values
KEBOOLA_STACK=connection.keboola.com
KEBOOLA_CUSTOM_CONNECTION_URL=
KEBOOLA_TOKEN=your-token-here
KEBOOLA_BRANCH_ID=
KEBOOLA_WORKSPACE_ID=
KEBOOLA_TEST_QUERY=SELECT 1
